<a href="https://colab.research.google.com/github/Marc-Serenio/CPEN-21-A-CPE1-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python Programming

In [4]:
b = "Sally"
print(type(b))

<class 'str'>

Naming Variables

In [5]:
a = 'Sally'
A = "John"
print(a)
print(A)

Sally
John

In [6]:
a,b,c = 1,2
print(type(a))             #This is a program using typing function
print(b)
print(c)

<class 'int'>
1
2

In [7]:
a = 4.50
print(type(a))

<class 'float'>

One value to Multiple Variables

In [8]:
x  = y = z ="four"
print(x)
print(y)
print(z)

four
four
four

In [12]:
x = "enjoying"
print("Python programming is " +x)

Python programming is enjoying

In [13]:
x = 4 
y = 5
print(x+y)
print(x-y)

9
-1

In [14]:
not(x>y or x==x)       #This is an example of program using logical operator

False